.table_mt-5_text-center {
  margin: auto;
  width: 70%;
  /* border-collapse: collapse; */
  justify-content: space-between;
  align-items: center;
  
}

th, td {
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  border: none;
  font-size: medium;
}

th {
  background-color: var(--moonstone);
  color: var(--flax);
}

td {
  /*background-color: var(--electric-indigo);*/
  color: var(--moonstone);
}

td button.btn.btn-warning {
  background-color: var(--flax);
}

td button.btn.btn-danger {
  background-color: var(--bittersweet);
}