@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

:root {
  --aquamarine: #80FFEC;
  --bittersweet: #ff715bff;
  --raisin-black: #272932ff;
  --flax: #ecdd7bff;
  --moonstone: #01a7c2ff;
  --white: #ffffff;

}

body {
  background-color: #272932ff;
  color:#80FFEC;
  margin: 0;
  font: 300 25px/1.4;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-weight: bold;
  text-align: center;
}