body {
  margin: 0;
  font: 300 25px/1.4;
  font-family: 'Nunito', sans-serif;
  color: #5e2bffff;
  background: #272932ff;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* Set text color for table cells */


/* Set background color for warning and danger buttons */
button.btn.btn-warning {
  background-color: #ecdd7bff;
}

button.btn.btn-danger {
  background-color: #e0115f;
}

