.react-calendar {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .rbc-event {
    background-color: #2196F3;
    color: #FFF;
    font-size: 14px;
    
  }
  
  .calendar-container {
    height: 500px;
    margin-top: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .rbc-time-slot {
    position: relative;
    line-height: 15px;
  }
  
  .rbc-event {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 40%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }