.card-title {
    font-size: 16pt;
    font-weight: bold;
    font-family: Verdana;
}

.card-text {
    text-align: center;
    font-size: 12pt;
    font-family: Verdana;
}

.github-link {
    text-align: center;
}